<div id="lockscreen">
    <div id="old_browser_warning" style="display:none;margin-left:auto;margin-right:auto;margin-top:200px;background:white;color:black;padding:20px;width:300px;" data-i18n="old_browser_warning">You are using an old browser which this application does not support.</div>
    
    <!--
    <div style="position:absolute;top:10px;left:10px;" id="server_select">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="text">Use localhost</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Use localhost</a></li>
                <li><a href="#">Use TestNet</a></li>
            </ul>
        </div>
    </div>
    -->
    
    <table id="center" style="display:none;width:100%;height:100%;">
        <tr><td style="text-align:center;vertical-align:middle">
            <center><img id="img_coin_logo" alt="Nxt" width="320" height="320" style="margin-bottom:40px;" /></center>

                <div id="rpc_loading_div" class="panel panel-default" style="max-width: 500px; display: none">
                    <div class="panel-heading"><span class="glyphicon glyphicon-lock"></span> <span>SuperNET</span></div>
                    <div class="panel-body">
                        <div>
                            <div style="width:80%">
                                <nobr><p>Connecting to BitcoinDark RPC <span class="loading_dots"><span>.</span><span>.</span><span>.</span></span></p></nobr>
                            </div>

                        </div>
                    </div>
                </div>

                <div id="login_panel" class="panel panel-default" style="max-width:500px;">
                    <div class="panel-heading"><span class="glyphicon glyphicon-lock"></span> <span>Login</span></div>
                    <div class="panel-body">
                        <div class="callout callout-danger" id="testnet_login" style="max-width:400px;min-width:400px;display:none;" data-i18n="[html]testnet_login_warning">Log in with your <strong>TestNet</strong> account - not your real one!</div><div id="login_error" style="max-width:400px;min-width:400px;display:none">
                            <div class="callout callout-danger"></div>
                        </div>
                        <div class="lockscreen-item">
                            <div class="lockscreen-credentials">
                                <div class="input-group">
                                    <input type="password" class="form-control" id="login_password" name="login_password" placeholder="Your Passphrase" data-i18n="[placeholder]your_passphrase" autofocus />
                                    <div class="input-group-btn" style="border:1px solid #fff;">
                                        <button class="btn btn-flat" onclick="NRS.login($('#login_password').val())"><i class="fa fa-arrow-right text-muted"></i></button>
                                    </div>
                                    <input type="hidden" name="check_password_length" id="login_check_password_length" value="1" />
                                </div>
                            </div>
                        </div>

                        <div id="remember_password_container">
                            <input type="checkbox" name="remember_password" id="remember_password" value="1" /> <span></span><label for="remember_password" data-i18n="remember_passphrase_during_session">Remember passphrase during session</label>
                        </div>
                    </div>
                    <div id="registration_link" class="panel-footer">
                        <a href="#" onclick="NRS.registerAccount();" data-i18n="no_account_q_create_account">Don't have an account? Click here to create one!</a>
                    </div>
                </div>
            
            <div class="panel panel-default" id="welcome_panel" style="display:none;max-width:500px;">
                <div class="panel-heading">
                    <div style="float:right;">
                        <select name="language" class="form-control" style="width:150px">
                        </select>
                    </div>
                    <div style="display:inline-block;padding-top:6px;padding-bottom:4px;">
                        <span class="glyphicon glyphicon-lock"></span> <span data-i18n="welcome_to_nxt">Welcome to Nxt</span>
                    </div>
                </div>
                <div class="panel-body">
                    <button class="btn btn-primary" id="registration_cancel" onclick="NRS.showLoginScreen();return false;" data-i18n="returning_user_q">Returning User?</button>
                    &nbsp;&nbsp;
                    <button class="btn btn-success" id="registration_cancel" onclick="NRS.registerAccount();return false;" data-i18n="new_q_create_account">New? Create Your Account!</button>
                </div>
            </div>  
            
            <div class="panel panel-default" id="account_phrase_custom_panel" style="display:none;max-width:500px;">
                <div class="panel-heading"><span class="glyphicon glyphicon-lock"></span> <span data-i18n="create_your_account">Create Your Account</span></div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" method="post" autocomplete="off">
                        <div class="callout callout-info" style="max-width:500px;" data-i18n="passphrase_length_warning">Your passphrase must be at least 35 characters long.</div>
                        
                        <div class="callout callout-danger" data-i18n="[html]passphrase_warning"><strong>Attention</strong>: The passphrase is everything that stands between your account and the rest of the world. Do not use any meaningful sentence, especially any that appears in song or literature.<br /><br />Don't ever disclose your passphrase. If you lose it you lose access to your account!</div>

                        <div class="form-group">
                            <label for="registration_password" class="col-sm-3 control-label" data-i18n="passphrase">Passphrase</label>
                            <div class="col-sm-9"><input type="password" name="registration_password" class="form-control" id="registration_password" placeholder="" /></div>
                        </div>
                        <div class="form-group">
                            <label for="registration_password_repeat" class="col-sm-3 control-label" data-i18n="repeat">Repeat</label>
                            <div class="col-sm-9"><input type="password" name="registration_password_repeat" class="form-control" id="registration_password_repeat" placeholder="" /></div>
                        </div>
                        
                        <div style="text-align:right"><input type="submit" class="btn btn-primary btn-sm" value="Register" data-i18n="[value]register" />&nbsp;&nbsp;<button class="btn btn-sm btn-default" id="registration_cancel" onclick="NRS.showLoginOrWelcomeScreen();return false;" data-i18n="cancel">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        
            <div class="panel panel-default" id="account_phrase_generator_panel" style="display:none;max-width:500px">
                <div class="panel-heading"><span class="glyphicon glyphicon-lock"></span> <span data-i18n="create_your_account">Create Your Account</span></div>
                <div class="panel-body">
                    <div id="account_phrase_generator_loading">
                        <p><span class="loading_text" data-i18n="loading_word_list">Loading Word List</span><span class="loading_dots"><span>.</span><span>.</span><span>.</span></span></p>
                        
                        <div style="text-align:center;margin-top:20px;margin-bottom:20px;"><img src="img/loading_indicator.gif" alt="Loading..." width="32" height="32" /></div>
                    </div>
                    
                    <div id="account_phrase_generator_loaded">                          
                        <div class="step_1 account_phrase_generator_steps">
                            <div id="account_phrase_generator_seeder" class="seeder">
                                <p data-i18n="seed_password_generator">Move your cursor around to seed the random number generator...</p>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-info" id="account_phrase_generator_seed_progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                        <span class="sr-only">0% Seeded</span>
                                    </div>
                                </div>
                            </div>
                            
                            <div style="text-align:right">
                                <button class="btn btn-sm btn-default" id="registration_cancel" onclick="NRS.showLoginOrWelcomeScreen();return false;" data-i18n="cancel">Cancel</button>
                            </div>
                        </div>
                        
                        <div class="step_2 account_phrase_generator_steps">
                            <div id="account_phrase_generator_start">
                                <p><span data-i18n="generating_passphrase_wait">Generating your passphrase. Please wait</span><span class="loading_dots"><span>.</span><span>.</span><span>.</span></span></p>
                                
                                <div style="text-align:center;margin-top:20px;margin-bottom:20px;"><img src="img/loading_indicator.gif" alt="Loading..." width="32" height="32" /></div>
                            </div>
                            
                            <div id="account_phrase_generator_stop" style="display:none">
                                <p data-i18n="automatically_generated_passphrase_is">Your automatically generated passphrase is:</p>
                                
                                <textarea style="width:100%;height:50px;margin-bottom:10px;padding:3px;" rows="2" readonly></textarea>
                            
                                <p data-i18n="memorize_passphrase_help">Please write down or memorize these 12 words (their order and capitalization matters - always lowercase). This passphrase is needed in order to access your Nxt account.</p>
                                            
                                <div class="callout callout-danger" data-i18n="[html]assphrase_disclosure_warning"><strong>Attention</strong>: Don't ever disclose your passphrase. If you lose it you lose access to your account!</div>
                            
                                <div style="text-align:right">
                                    <input type="submit" class="btn btn-primary btn-sm" value="Next" data-i18n="[value]next" onclick="$('.step_2').hide();$('.step_3').show();return false;" />&nbsp;&nbsp;<button class="btn btn-sm btn-default" id="registration_cancel" onclick="NRS.showLoginOrWelcomeScreen();return false;" data-i18n="cancel">Cancel</button>
                                </div>
                            </div>
                        </div>
                        
                        <div class="step_3 account_phrase_generator_steps">
                            <p data-i18n="passphrase_write_below">Your passphrase is very important! In order to be sure that you have saved it, please write your passphrase below:</p>
                            
                            <div class="callout callout-danger" style="display:none" data-i18n="incorrectly_typed_passphrase">You have not typed the passphrase correctly, please try again!</div>

                            <textarea style="width:100%;height:50px;margin-bottom:10px;" rows="2"></textarea>
                            
                            <div style="text-align:right">
                                <input type="submit" class="btn btn-primary btn-sm" value="Next" data-i18n="[value]next" onclick="NRS.verifyGeneratedPassphrase();return false;" />&nbsp;&nbsp;<button class="btn btn-sm btn-default" id="registration_cancel" onclick="NRS.showLoginOrWelcomeScreen();return false;" data-i18n="cancel">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="custom_passphrase_link" class="panel-footer" style="text-align:center;display:none;">
                    <a href="#" onclick="NRS.registerUserDefinedAccount();" data-i18n="choose_own_passphrase">Want to choose your own passphrase? Click here.</a>
                </div>
            </div>  
        </td>
        </tr>
    </table>           
</div>