.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
{
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.row {
	margin-right: -10px !important;
	margin-left: -10px !important;
}

/*! 
 *   AdminLTE v1.0
 *   Author: AlmsaeedStudio.com
 *   License: Please visit http://wrapbootstrap.com for information about 
 *            this theme's license
!*/
/*
    Core: General style
----------------------------
*/
html,
body {
  /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  /*background: #fff;*/
  color: #636363;
  min-width: 1170px;
}
html.lockscreen, html.lockscreen body {
  height:100%;
  overflow-x:auto;
}
a {
  color: #636363;
}
a:active,
a:focus {
  outline: none;
  text-decoration: none;
  color: #636363;
  /*color: #72afd2;*/
}
a:hover { text-decoration: underline; outline: none; color: #636363; } /* Mr. V Addition */
/* Layouts */
.wrapper {
  min-height: 100%;
}
.wrapper:before,
.wrapper:after {
  display: table;
  content: " ";
}
.wrapper:after {
  clear: both;
}
/* Define 2 column template */
.right-side,
.left-side {
  min-height: 100%;
  display: block;
}
/*right side - contins main content*/
.right-side {
  background-color: #fff;
  margin-left: 200px;
  transition: margin .7s;
  -webkit-transition: margin .7s;
}
/*left side - contains sidebar*/
.left-side {
  position: absolute;
  width: 200px;
  top: 0;
  transition: margin .7s;
  -webkit-transition: margin .7s;
}
@media screen and (min-width: 992px) {
  .left-side {
    /*top: 215px;*/
    top:50px; /* Mr. V */
  }
  /*Right side strech mode*/
  .right-side.strech {
    margin-left: 0;
  }
  .right-side.strech > .page > .content-header {
    margin-top: 0px;
  }
  /* Left side collapse */
  .left-side.collapse-left {
     margin-left: -220px;
  }
}
/*Give content full width on xs screens*/
@media screen and (max-width: 992px) {
  .right-side {
    margin-left: 0;
  }
}
/*
    By default the layout is not fixed but if you add the class .fixed to the body element
    the sidebar and the navbar will automatically become poisitioned fixed
*/
body.fixed > .header,
body.fixed .left-side,
body.fixed .navbar {
  position: fixed;
}
body.fixed > .header {
  top: 0;
  right: 0;
  left: 0;
}
body.fixed .navbar {
  left: 0;
  right: 0;
  /*background-color: #002e43; /*WESLEY */
  background: url(../img/corporate/header.png) repeat left top fixed;
}
body.fixed .wrapper {
	-webkit-transition: margin-top 0.8s; /* For Safari 3.1 to 6.0 */
	transition: margin-top 0.8s;
	/*margin-top: 215px;*/
	margin-top: 50px; /* Mr. V */
}
/* Content */
.content {
  background: #f9f9f9;
}
/* Utility */
/* H1 - H6 font */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Open Sans', sans-serif;
}
/* Page Header */
.page-header {
  margin: 10px 0 20px 0;
  font-size: 22px;
}
.page-header > small {
  color: #666;
  display: block;
  margin-top: 5px;
}
/* All images should be responsive */
img {
  max-width: 100% !important;
}
.sort-highlight {
  background: #f4f4f4;
  border: 1px dashed #ddd;
  margin-bottom: 10px;
}
/* 10px padding and margins */
.pad {
  padding: 10px;
}
.margin {
  margin: 10px;
}
/* Display inline */
.inline {
  display: inline;
  width: auto;
}
/* Text colors */
.text-red {
  color: #f56954 !important;
}
.text-yellow {
  color: #f39c12 !important;
}
.text-aqua {
  color: #00c0ef !important;
}
.text-blue {
  color: #0073b7 !important;
}
.text-light-blue {
  color: #3c8dbc !important;
}
.text-green {
  color: #00a65a !important;
}
.text-navy {
  color: #001f3f !important;
}
.text-teal {
  color: #39cccc !important;
}
.text-olive {
  color: #3d9970 !important;
}
.text-lime {
  color: #01ff70 !important;
}
.text-orange {
  color: #ff851b !important;
}
.text-fuchsia {
  color: #f012be !important;
}
.text-purple {
  color: #932ab6 !important;
}
.text-maroon {
  color: #85144b !important;
}
/*Hide elements by display none only*/
.hide {
  display: none !important;
}
/* Remove borders */
.no-border {
  border: 0px !important;
}
/* Remove padding */
.no-padding {
  padding: 0px !important;
}
/* WESLEYH */
.no-vertical-padding {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
/* Remove margins */
.no-margin {
  margin: 0px !important;
}
/* Remove box shadow */
.no-shadow {
  box-shadow: none!important;
}
/* Don't display when printing */
@media print {
  .no-print {
    display: none;
  }
  .left-side,
  .header,
  .content-header {
    display: none;
  }
  .right-side {
    margin: 0;
  }
}
/* Remove border radius */
.flat,
.flat > * {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.table > tbody > tr >td {
	background-color: #f7f8f8;
}
/* Change the color of the striped tables */
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #e6e6e8;
}
/* .text-center in tables */
table.text-center td,
table.text-center th {
  text-align: center;
}
/* _fix for sparkline tooltip */
.jqstooltip {
  padding: 5px!important;
  width: auto!important;
  height: auto!important;
}
/*
    Components: navbar, logo and content header
-------------------------------------------------
*/
body > .header {
  position: relative;
  z-index: 1000;
  height: 50px;
}
body > .header .navbar {
  margin-bottom: 0;
  padding-bottom:0;
}
body > .header .navbar .sidebar-toggle {
  float: left;
  padding: 9px 5px;
  margin-top: 8px;
  margin-right: 0;
  margin-bottom: 8px;
  margin-left: 200px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.header .navbar .sidebar-toggle:hover .icon-bar {
  background: #f6f6f6;
}
body > .header .navbar .sidebar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
body > .header .navbar .sidebar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
body > .header .navbar .nav > li.user > a {
  font-weight: bold;
}
body > .header .navbar .nav > li.user > a > .fa,
body > .header .navbar .nav > li.user > a > .glyphicon,
body > .header .navbar .nav > li.user > a > .ion {
  margin-right: 5px;
}
body > .header .navbar .nav > li > a > .label {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  right: 2px;
  font-size: 10px;
  font-weight: normal;
  width: 15px;
  height: 15px;
  line-height: 1.0em;
  text-align: center;
  padding: 2px;
}
body > .header .navbar .nav > li > a:hover > .label {
  top: 3px;
}
/*.right-side > .page > .content-header {
	position: fixed;
	color: #fff;
	background: url("../img/corporate/header.png") repeat fixed left top rgba(0, 0, 0, 0);
    left: 0;
    padding-top: 50px;
    top: 0;
    width: 100%;
    z-index: 900;
    height: 100px;
}
.right-side > .page > .content-header > h1 {
  margin: 0;
  font-size: 24px;
  margin-left: 200px;
}
.right-side > .page > .content-header > h1 > small {
  font-size: 15px;
  display: inline-block;
  padding-left: 4px;
  font-weight: 300;
}
.right-side > .page > .content-header > .breadcrumb {
  float: right;
  background: transparent;
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 12px;
  padding: 7px 5px;
  position: absolute;
  top: 15px;
  right: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.right-side > .page > .content-header > .breadcrumb > li > a {
  color: #444;
  text-decoration: none;
}
.right-side > .page > .content-header > .breadcrumb > li > a > .fa,
.right-side > .page > .content-header > .breadcrumb > li > a > .glyphicon,
.right-side > .page > .content-header > .breadcrumb > li > a > .ion {
  margin-right: 5px;
}
.right-side > .page > .content-header > .breadcrumb > li + li:before {
  content: '>\00a0';
}*/
@media screen and (max-width: 767px) {
  .right-side > .page > .content-header > .breadcrumb {
    position: relative;
    margin-top: 5px;
    top: 0;
    right: 0;
    float: none;
    background: #efefef;
  }
}
@media (max-width: 767px) {
  .navbar .navbar-nav > li {
    float: left;
  }
  .navbar-nav {
    margin: 0;
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
  }
  .navbar .navbar-right {
    float: right;
  }
}
@media screen and (max-width: 560px) {
  body > .header {
    position: relative;
  }
  body > .header .logo,
  body > .header .navbar {
    width: 100%;
    float: none;
    position: relative!important;
  }
  body > .header .navbar {
    margin: 0;
  }
  body.fixed > .header {
    position: fixed;
  }
  body.fixed > .wrapper,
  body.fixed .sidebar-offcanvas {
    margin-top: 100px!important;
  }
}
/*
    Component: Sidebar
--------------------------
*/
.sidebar {
  margin-bottom: 5px;
}
.sidebar-form input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: transparent!important;
}
.sidebar .sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar .sidebar-menu > li {
  margin: 0;
  padding: 0;
}
.sidebar .sidebar-menu > li > a {
  height: 50px;
  display: block;
}
.sidebar .sidebar-menu > li:first-child > a {height: 99px;}
.sidebar .sidebar-menu .treeview-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar .sidebar-menu .treeview-menu > li {
  margin: 0;
}
.sidebar .sidebar-menu .treeview-menu > li > a {
  padding: 5px 5px 5px 35px;
  display: block;
  font-size: 14px;
  margin: 0px 0px;
}
.sidebar .sidebar-menu .treeview-menu > li > a > .fa,
.sidebar .sidebar-menu .treeview-menu > li > a > .glyphicon,
.sidebar .sidebar-menu .treeview-menu > li > a > .ion {
  width: 20px;
}
.user-panel {
  margin: 5px;
  position: relative;
}
.user-panel:before,
.user-panel:after {
  display: table;
  content: " ";
}
.user-panel:after {
  clear: both;
}
.user-panel > .image > img {
  width: 45px;
  height: 45px;
}
/* WESLEY */
.user-panel > .info {
  padding: 5px 0px;
  font-size: 14px;
  line-height: 1;
}
#forging_indicator {
	/*font-size: 14px; Mr. V */
} 
.user-panel > .info > p {
  margin-bottom: 9px;
}
.user-panel > .info > a {
  text-decoration: none;
  padding-right: 5px;
  margin-top: 3px;
  font-size: 11px;
  font-weight: normal;
}
.user-panel > .info > a > .fa,
.user-panel > .info > a > .ion,
.user-panel > .info > a > .glyphicon {
  margin-right: 3px;
}




/*
 * Off Canvas
 * --------------------------------------------------
 *  Gives us the push menu effect
 */
@media screen and (max-width: 992px) {
  .relative {
    position: relative;
  }
  .row-offcanvas-right .sidebar-offcanvas {
    right: -220px;
  }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -220px;
  }
  .row-offcanvas-right.active {
    right: 220px;
  }
  .row-offcanvas-left.active {
    left: 220px;
  }
  .sidebar-offcanvas {
    left: 0;
  }
  body.fixed .sidebar-offcanvas {
    /*margin-top: 215px;*/
    margin-top: 50px; /* Mr. V */
    left: -220px;
    -webkit-transition: margin-top 0.8s; /* For Safari 3.1 to 6.0 */
	transition: margin-top 0.8s;
  }
  body.fixed .row-offcanvas-left.active .navbar {
    left: 220px !important;
    right: 0;
  }
  body.fixed .row-offcanvas-left.active .sidebar-offcanvas {
    left: 0px;
  }
}
/* 
    Dropdown menus
----------------------------
*/
/*Dropdowns in general*/
.dropdown-menu {
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  z-index: 2300;
}
.dropdown-menu > li > a > .glyphicon,
.dropdown-menu > li > a > .fa,
.dropdown-menu > li > a > .ion {
  margin-right: 10px;
}

/*Drodown in navbars*/
.navbar .dropdown-menu > li > a { /*REMOVED skin-blue*/
  color: #444444;
}

.dropdown-menu > li > a:hover {
  background-color: #3c8dbc;
  color: #f9f9f9;
}
#asset_id_dropdown .dropdown-menu {
	background-color: #000;
}
/*
    Navbar custom dropdown menu
------------------------------------
*/
.navbar-nav > .notifications-menu > .dropdown-menu,
.navbar-nav > .messages-menu > .dropdown-menu,
.navbar-nav > .tasks-menu > .dropdown-menu {
  width: 280px;
  padding: 0 0 0 0!important;
  margin: 0!important;
  top: 100%;
  border: 1px solid #dfdfdf;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li.header,
.navbar-nav > .messages-menu > .dropdown-menu > li.header,
.navbar-nav > .tasks-menu > .dropdown-menu > li.header {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #ffffff;
  padding: 7px 10px;
  border-bottom: 1px solid #f4f4f4;
  color: #444444;
  font-size: 14px;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li.header:after,
.navbar-nav > .messages-menu > .dropdown-menu > li.header:after,
.navbar-nav > .tasks-menu > .dropdown-menu > li.header:after {
  bottom: 100%;
  left: 92%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 7px;
  margin-left: -7px;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a,
.navbar-nav > .messages-menu > .dropdown-menu > li.footer > a,
.navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a {
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 12px;
  background-color: #f4f4f4;
  padding: 7px 10px;
  border-bottom: 1px solid #eeeeee;
  color: #444444;
  text-align: center;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a:hover,
.navbar-nav > .messages-menu > .dropdown-menu > li.footer > a:hover,
.navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a:hover {
  background: #f4f4f4;
  text-decoration: none;
  font-weight: normal;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a {
  display: block;
  white-space: nowrap;
  /* Prevent text from breaking */

  border-bottom: 1px solid #f4f4f4;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a:hover,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:hover,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a:hover {
  background: #f6f6f6;
  text-decoration: none;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a {
  font-size: 12px;
  color: #444444;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion {
  font-size: 20px;
  width: 50px;
  text-align: center;
  padding: 15px 0px;
  margin-right: 5px;
  /* Default background and font colors */

  background: #00c0ef;
  color: #f9f9f9;
  /* Fallback for browsers that doesn't support rgba */

  color: rgba(255, 255, 255, 0.7);
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon.danger,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa.danger,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion.danger {
  background: #f56954;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon.warning,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa.warning,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion.warning {
  background: #f39c12;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon.success,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa.success,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion.success {
  background: #00a65a;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon.info,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa.info,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion.info {
  background: #00c0ef;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a {
  margin: 0px;
  line-height: 20px;
  padding: 10px 5px 10px 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > div > img {
  margin: auto 10px auto auto;
  width: 40px;
  height: 40px;
  border: 1px solid #dddddd;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 {
  padding: 0;
  margin: 0 0 0 45px;
  color: #444444;
  font-size: 15px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 > small {
  color: #999999;
  font-size: 10px;
  float: right;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > p {
  margin: 0 0 0 45px;
  font-size: 12px;
  color: #888888;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:before,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:after {
  display: table;
  content: " ";
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:after {
  clear: both;
}
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a {
  padding: 10px;
}
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a > h3 {
  font-size: 14px;
  padding: 0;
  margin: 0 0 10px 0;
  color: #666666;
}
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a > .progress {
  padding: 0;
  margin: 0;
}
.navbar-nav > .user-menu > .dropdown-menu {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 1px 0 0 0;
  border-top-width: 0;
  width: 280px;
}
.navbar-nav > .user-menu > .dropdown-menu:after {
  bottom: 100%;
  right: 10px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
  height: 175px;
  padding: 10px;
  background: #3c8dbc;
  text-align: center;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
  z-index: 5;
  height: 90px;
  width: 90px;
  border: 8px solid;
  border-color: transparent;
  border-color: rgba(255, 255, 255, 0.2);
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
  z-index: 5;
  color: #f9f9f9;
  color: rgba(255, 255, 255, 0.8);
  font-size: 17px;
  text-shadow: 2px 2px 3px #333333;
  margin-top: 10px;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p > small {
  display: block;
  font-size: 12px;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-body {
  padding: 15px;
  border-bottom: 1px solid #f4f4f4;
  border-top: 1px solid #dddddd;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-body:before,
.navbar-nav > .user-menu > .dropdown-menu > li.user-body:after {
  display: table;
  content: " ";
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-body:after {
  clear: both;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-body > div > a {
  color: #0073b7;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-footer {
  background-color: #f9f9f9;
  padding: 10px;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-footer:before,
.navbar-nav > .user-menu > .dropdown-menu > li.user-footer:after {
  display: table;
  content: " ";
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-footer:after {
  clear: both;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-footer .btn-default {
  color: #666666;
}
/* Add fade animation to dropdown menus */
.open > .dropdown-menu {
  animation-name: fadeAnimation;
  animation-duration: .7s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  -webkit-animation-name: fadeAnimation;
  -webkit-animation-duration: .7s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: fadeAnimation;
  -moz-animation-duration: .7s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
}
@keyframes fadeAnimation {
  from {
    opacity: 0;
    top: 120%;
  }
  to {
    opacity: 1;
    top: 100%;
  }
}
@-webkit-keyframes fadeAnimation {
  from {
    opacity: 0;
    top: 120%;
  }
  to {
    opacity: 1;
    top: 100%;
  }
}
/* Fix dropdown menu for small screens to display correctly on small screens */
@media screen and (max-width: 767px) {
  .navbar-nav > .notifications-menu > .dropdown-menu,
  .navbar-nav > .user-menu > .dropdown-menu,
  .navbar-nav > .tasks-menu > .dropdown-menu,
  .navbar-nav > .messages-menu > .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    background: #ffffff;
  }
}
/* Fix menu positions on xs screens to appear correctly and fully */
@media screen and (max-width: 480px) {
  .navbar-nav > .notifications-menu > .dropdown-menu > li.header,
  .navbar-nav > .tasks-menu > .dropdown-menu > li.header,
  .navbar-nav > .messages-menu > .dropdown-menu > li.header {
    /* Remove arrow from the top */
  }
  .navbar-nav > .notifications-menu > .dropdown-menu > li.header:after,
  .navbar-nav > .tasks-menu > .dropdown-menu > li.header:after,
  .navbar-nav > .messages-menu > .dropdown-menu > li.header:after {
    border-width: 0px!important;
  }
  .navbar-nav > .tasks-menu > .dropdown-menu {
    position: absolute;
    right: -120px;
    left: auto;
  }
  .navbar-nav > .notifications-menu > .dropdown-menu {
    position: absolute;
    right: -170px;
    left: auto;
  }
  .navbar-nav > .messages-menu > .dropdown-menu {
    position: absolute;
    right: -210px;
    left: auto;
  }
}
/* 
   All form elements including input, select, textarea etc.
-----------------------------------------------------------------
*/
.form-control {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  box-shadow: none;
}
.form-control:focus {
  border-color: #636363 !important;
  box-shadow: none;
}
.form-group.has-success label {
  color: #00a65a;
}
.form-group.has-success .form-control {
  border-color: #00a65a !important;
  box-shadow: none;
}
.form-group.has-warning label {
  color: #f39c12;
}
.form-group.has-warning .form-control {
  border-color: #f39c12 !important;
  box-shadow: none;
}
.form-group.has-error label {
  color: #f56954;
}
.form-group.has-error .form-control {
  border-color: #f56954 !important;
  box-shadow: none;
}
/* Input group */
.input-group .input-group-addon {
  border-radius: 0;
  background-color: #f4f4f4;
}
/* button groups */
.btn-group-vertical .btn.btn-flat:first-of-type,
.btn-group-vertical .btn.btn-flat:last-of-type {
  border-radius: 0;
}
/* Checkbox and radio inputs */
.checkbox,
.radio {
  padding-left: 0;
}
/* 
    Compenent: Progress bars
--------------------------------
*/
/* size variation */
.progress{
	background-color: #8a9094;
	border-radius: 0px;
}
.progress.sm {
  height: 4px;
}
.progress.xs {
  height: 7px;
}
/* Vertical bars */
.progress.vertical {
  position: relative;
  width: 30px;
  height: 200px;
  display: inline-block;
  margin-right: 10px;
}
.progress.vertical > .progress-bar {
  width: 100%!important;
  position: absolute;
  bottom: 0;
}
.progress.vertical.sm {
  width: 20px;
}
.progress.vertical.xs {
  width: 10px;
}
/* Remove margins from progress bars when put in a table */
.table tr > td .progress {
  margin: 0;
}
.progress-bar-light-blue,
.progress-bar-primary {
  background-color: #3c8dbc;
}
.progress-striped .progress-bar-light-blue,
.progress-striped .progress-bar-primary {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-green,
.progress-bar-success {
  background-color: #00a65a;
}
.progress-striped .progress-bar-green,
.progress-striped .progress-bar-success {
  /*background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	*/
	background-image: none;
	background-color: #fff;

}
.progress-bar-aqua,
.progress-bar-info {
  background-color: #00c0ef;
}
.progress-striped .progress-bar-aqua,
.progress-striped .progress-bar-info {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-yellow,
.progress-bar-warning {
  background-color: #f39c12;
}
.progress-striped .progress-bar-yellow,
.progress-striped .progress-bar-warning {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-red,
.progress-bar-danger {
  background-color: #f56954;
}
.progress-striped .progress-bar-red,
.progress-striped .progress-bar-danger {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
/*
    Component: Small boxes
*/
.small-box {
  position: relative;
  display: block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  /*margin-bottom: 15px;  Mr. V Removal */
  color: #fff;
}
.small-box .small-box-footer {
  position: relative;
  padding: 0;
  color: rgba(255, 255, 255, 0.5);
  display: block;
  z-index: 10;
  text-decoration: none;
}
.small-box > .small-box-footer:hover {
  color: #fff;
}
.small-box h3 {
  font-size: 52px;
  margin: 0;
  white-space: nowrap;
  padding: 0;
}
.small-box p {
  font-size: 16px;
}
.small-box p > small {
  display: block;
  color: #f9f9f9;
  font-size: 13px;
  margin-top: 5px;
}
.small-box h3,
.small-box p {
  z-index: 5;
}
.small-box .icon {
  position: absolute;
  right: 5px;
  top: -20px;
  z-index: 0;
  font-size: 90px;
  color: rgba(255, 255, 255, 0.25);
}
.small-box .icon-smaller {
	position: absolute;
	bottom: -7px;
	right: 5px;
	z-index: 0;
	font-size: 75px;
	color: rgba(255, 255, 255, 1.0);
}

.small-box > .inner-smaller {
	padding-bottom:0 !important;
}

.small-box:hover {
  text-decoration: none;
  color: #f9f9f9;
}
.small-box:hover .icon {
  animation-name: tansformAnimation;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  -webkit-animation-name: tansformAnimation;
  -webkit-animation-duration: .5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: tansformAnimation;
  -moz-animation-duration: .5s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
}
/** WESLEY **/
.small-box:hover .icon-smaller {
  animation-name: transformAnimationSmall;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  -webkit-animation-name: transformAnimationSmall;
  -webkit-animation-duration: .5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: transformAnimationSmall;
  -moz-animation-duration: .5s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
}

@keyframes tansformAnimation {
  from {
    font-size: 90px;
  }
  to {
    font-size: 95px;
  }
}
@-webkit-keyframes tansformAnimation {
  from {
    font-size: 90px;
  }
  to {
    font-size: 95px;
  }
}

@keyframes transformAnimationSmall {
  from {
    font-size: 75px;
  }
  to {
    font-size: 85px;
  }
}
@-webkit-keyframes transformAnimationSmall {
  from {
    font-size: 75px;
  }
  to {
    font-size: 85px;
  }
}

/*
    component: Boxes
-------------------------
*/
.box {
  position: relative;
  background: #ffffff;
  border-top: 0px solid #c1c1c1;
  margin-bottom: 20px;
  width: 100%;
  /*box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);*/
}
.box.box-primary {
  border-top-color: #3c8dbc;
}
.box.box-info {
  border-top-color: #00c0ef;
}
.box.box-danger {
  border-top-color: #f56954;
}
.box.box-warning {
  border-top-color: #f39c12;
}
.box.box-success {
  border-top-color: #00a65a;
}
.box.height-control .box-body {
  max-height: 300px;
  overflow: auto;
}
.box .box-header {
  position: relative;
  /*
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0px solid #f4f4f4;
  */
  color: #404040;
  /*padding-bottom: 10px;*/
}
.box .box-header:before,
.box .box-header:after {
  display: table;
  content: " ";
}
.box .box-header:after {
  clear: both;
}
.box .box-header > .fa,
.box .box-header > .glyphicon,
.box .box-header > .ion,
.box .box-header .box-title {
  display: inline-block;
  padding: 10px 0px 10px 10px;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  float: left;
  /*cursor: default;*/
}
.box .box-header a {
  color: #444;
}
.box .box-body {
  padding: 10px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.box .box-body > table,
.box .box-body > .table {
  margin-bottom: 0;
}
.box .box-body.chart-responsive {
  width: 100%;
  overflow: hidden;
}
.box .box-body > .chart {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.box .box-body > .chart svg,
.box .box-body > .chart canvas {
  width: 100%!important;
}
.box .box-body .fc {
  margin-top: 5px;
}
.box .box-body .fc-header-title h2 {
  font-size: 15px;
  line-height: 1.6em;
  color: #666;
  margin-left: 10px;
}
.box .box-body .fc-header-right {
  padding-right: 10px;
}
.box .box-body .fc-header-left {
  padding-left: 10px;
}
.box .box-body .fc-widget-header {
  background: #fafafa;
  box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.02);
}
.box .box-body .fc-grid {
  width: 100%;
  border: 0;
}
.box .box-body .fc-widget-header:first-of-type,
.box .box-body .fc-widget-content:first-of-type {
  border-left: 0;
  border-right: 0;
}
.box .box-body .fc-widget-header:last-of-type,
.box .box-body .fc-widget-content:last-of-type {
  border-right: 0;
}
.box .box-body .table {
  margin-bottom: 0;
}
.box .box-body .full-width-chart {
  margin: -19px;
}
.box .box-body.no-padding .full-width-chart {
  margin: -9px;
}
.box .box-footer {
  border-top: 1px solid #f4f4f4;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px 0;
  background-color: #ffffff;
}
.box.box-solid {
  border-top: 0px;
}
.box.box-solid > .box-header {
  padding-bottom: 0px!important;
}
.box.box-solid > .box-header .btn.btn-default {
  background: transparent;
}
.box.box-solid.box-primary > .box-header {
  color: #fff;
  background: #3c8dbc;
  background-color: #3c8dbc;
}
.box.box-solid.box-primary > .box-header a {
  color: #444;
}
.box.box-solid.box-info > .box-header {
  color: #fff;
  background-color: #cc9900;
}
.box.box-solid.box-info > .box-header a {
  color: #444;
}
.box.box-solid.box-danger > .box-header {
  color: #fff;
  background: #f56954;
  background-color: #f56954;
}
.box.box-solid.box-danger > .box-header a {
  color: #444;
}
.box.box-solid.box-warning > .box-header {
  color: #fff;
  background: #f39c12;
  background-color: #f39c12;
}
.box.box-solid.box-warning > .box-header a {
  color: #444;
}
.box.box-solid.box-success > .box-header {
  color: #fff;
  background: #00a65a;
  background-color: #00a65a;
}
.box.box-solid.box-success > .box-header a {
  color: #444;
}
.box.box-solid > .box-header > .box-tools > .btn {
  border: 0;
  box-shadow: none;
  height: 42px;
  width: 42px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background-color: #eed96d;
}
.box.box-solid.collapsed-box .box-header {
/*  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;*/
}
.box.box-solid[class*='bg'] > .box-header {
  color: #fff;
}
.box .box-group > .box {
  margin-bottom: 5px;
}
.box .knob-label {
  text-align: center;
  color: #333;
  font-weight: 100;
  font-size: 12px;
  margin-bottom: 0.3em;
}
.box .todo-list {
  margin: 0;
  padding: 0px 0px;
  list-style: none;
}
.box .todo-list > li {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 10px;
  background: #f3f4f5;
  margin-bottom: 2px;
  border-left: 2px solid #e6e7e8;
  color: #444;
}
.box .todo-list > li:last-of-type {
  margin-bottom: 0;
}
.box .todo-list > li.danger {
  border-left-color: #f56954;
}
.box .todo-list > li.warning {
  border-left-color: #f39c12;
}
.box .todo-list > li.info {
  border-left-color: #00c0ef;
}
.box .todo-list > li.success {
  border-left-color: #00a65a;
}
.box .todo-list > li.primary {
  border-left-color: #3c8dbc;
}
.box .todo-list > li > input[type='checkbox'] {
  margin: 0 10px 0 5px;
}
.box .todo-list > li .text {
  display: inline-block;
  margin-left: 5px;
  font-weight: 600;
}
.box .todo-list > li .label {
  margin-left: 10px;
  font-size: 9px;
}
.box .todo-list > li .tools {
  display: none;
  float: right;
  color: #f56954;
}
.box .todo-list > li .tools > .fa,
.box .todo-list > li .tools > .glyphicon,
.box .todo-list > li .tools > .ion {
  margin-right: 5px;
  cursor: pointer;
}
.box .todo-list > li:hover .tools {
  display: inline-block;
}
.box .todo-list > li.done {
  color: #999;
}
.box .todo-list > li.done .text {
  text-decoration: line-through;
  font-weight: 500;
}
.box .todo-list > li.done .label {
  background: #eaeaec !important;
}
.box .todo-list .handle {
  display: inline-block;
  cursor: move;
  margin: 0 5px;
}


.box .chat {
  padding: 5px 20px 5px 10px;
}
.box .chat .item {
  margin-bottom: 10px;
}
.box .chat .item:before,
.box .chat .item:after {
  display: table;
  content: " ";
}
.box .chat .item:after {
  clear: both;
}
.box .chat .item > img {
  width: 40px;
  height: 40px;
  border: 2px solid transparent;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}
.box .chat .item > img.online {
  border: 2px solid #00a65a;
}
.box .chat .item > img.offline {
  border: 2px solid #f56954;
}
.box .chat .item > .message {
  margin-left: 55px;
  margin-top: -40px;
}
.box .chat .item > .message > .name {
  display: block;
  font-weight: 600;
}
.box .chat .item > .attachment {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #f0f0f0;
  margin-left: 65px;
  margin-right: 15px;
  padding: 10px;
}
.box .chat .item > .attachment > h4 {
  margin: 0 0 5px 0;
  font-weight: 600;
  font-size: 14px;
}
.box .chat .item > .attachment > p,
.box .chat .item > .attachment > .filename {
  font-weight: 600;
  font-size: 13px;
  font-style: italic;
  margin: 0;
}
.box .chat .item > .attachment:before,
.box .chat .item > .attachment:after {
  display: table;
  content: " ";
}
.box .chat .item > .attachment:after {
  clear: both;
}
.box > .overlay,
.box > .loading-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.box > .overlay {
  z-index: 1010;
  background: rgba(255, 255, 255, 0.7);
}
.box > .overlay.dark {
  background: rgba(0, 0, 0, 0.5);
}
.box > .loading-img {
  z-index: 1020;
  background: transparent url('../img/corporate/ajax-loader.gif') 50% 50% no-repeat;
}
/*
    Component: Buttons
-------------------------
*/
.btn {
  font-weight: 500;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
   /* background-color:#C0C0C0; */
  border: 0px solid transparent;
  /*-webkit-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09);
  box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.09);*/
  font-size: 18px;
}
.btn.btn-default {
  /*background-color: #C0C0C0;*/
    background-color: #fafafa;

  color: #666;
  border-color: #ddd;
  border-bottom-color: #ddd;
}
.btn.btn-default:hover,
.btn.btn-default:active,
.btn.btn-default.hover {
 /* background-color: #AFAFAF!important; */
    background-color: #f4f4f4!important;

}
.btn.btn-default.btn-flat {
  border-bottom-color: #d9dadc;
}
/* Mr. V Changes */
#asset_details > #buy_asset_box > .box-header,
#asset_details > #sell_asset_box > .box-header,
.btn.btn-primary {
	background-color: #CB9900;
	-webkit-transition: background-color 500ms ease;
	-moz-transition: background-color 500ms ease;
	-o-transition: background-color 500ms ease;
	transition: background-color 500ms ease;
	font-size:15px;
}
.btn.btn-default, .btn.btn-primary {font-size:15px;}
#asset_details > #buy_asset_box > .box-header:hover,
#asset_details > #sell_asset_box > .box-header:hover,
.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary.hover {
  background-color: #997300;
}
#asset_details > #buy_asset_box > .box-header:hover > .box-tools > .btn,
#asset_details > #sell_asset_box > .box-header:hover > .box-tools > .btn {
  background-color: #e9cd3f;
}
.btn.btn-success {
  background-color: #0088b7;
  border-color: #0088b7;
  -webkit-transition: background-color 500ms ease;
  -moz-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
}
.btn.btn-success:hover,
.btn.btn-success:active,
.btn.btn-success.hover {
  background-color: #003c5a;
}
/* End Changes */
.btn.btn-info {
  background-color: #00c0ef;
  border-color: #00acd6;
}
.btn.btn-info:hover,
.btn.btn-info:active,
.btn.btn-info.hover {
  background-color: #00acd6;
}
.btn.btn-danger {
  background-color: #f56954;
  border-color: #f4543c;
}
.btn.btn-danger:hover,
.btn.btn-danger:active,
.btn.btn-danger.hover {
  background-color: #f4543c;
}
.btn.btn-warning {
  background-color: #f39c12;
  border-color: #e08e0b;
}
.btn.btn-warning:hover,
.btn.btn-warning:active,
.btn.btn-warning.hover {
  background-color: #e08e0b;
}
.btn.btn-sm {
  font-size: 12px;
}
.btn.btn-lg {
  padding: 10px 16px;
}
.btn.btn-block {
  font-size: 15px;
  padding: 10px;
}
.btn.btn-block.btn-sm {
  font-size: 13px;
  padding: 7px;
}
.btn.btn-flat {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
}
.btn:active {
  /*-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);*/
}
.btn:focus {
  outline: none;
}
.btn.btn-file {
  position: relative;
  width: 120px;
  height: 35px;
  overflow: hidden;
}
.btn.btn-file > input[type='file'] {
  display: block !important;
  width: 100% !important;
  height: 35px !important;
  opacity: 0 !important;
  position: absolute;
  top: -10px;
  cursor: pointer;
}
.btn.btn-app {
  position: relative;
  padding: 15px 5px;
  margin: 0 0 10px 10px;
  min-width: 80px;
  height: 60px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-align: center;
  color: #666;
  border: 1px solid #ddd;
  background-color: #fafafa;
  font-size: 12px;
}
.btn.btn-app > .fa,
.btn.btn-app > .glyphicon,
.btn.btn-app > .ion {
  font-size: 20px;
  display: block;
}
.btn.btn-app:hover {
  background: #f4f4f4;
  color: #444;
  border-color: #aaa;
}
/*.btn.btn-app:active,
.btn.btn-app:focus {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}*/
.btn.btn-app > .badge {
  position: absolute;
  top: -3px;
  right: -10px;
  font-size: 10px;
  font-weight: 400;
}
.btn.btn-social {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  opacity: 0.9;
  padding: 0;
}
.btn.btn-social > .fa {
  padding: 10px 0;
  width: 40px;
}
.btn.btn-social > .fa + span {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.btn.btn-social span {
  padding: 10px;
}
.btn.btn-social:hover {
  opacity: 1;
}
.btn.btn-circle {
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
/* 
    Component: callout
------------------------
*/
.callout {
  margin: 0 0 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.callout h4 {
  margin-top: 0;
}
.callout p:last-child {
  margin-bottom: 0;
}
.callout code,
.callout .highlight {
  background-color: #fff;
}
.callout.callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.callout.callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.callout.callout-info {
  background-color: #e6e6e8;
  /*border-color: #d0e3f0;*/  /* Mr. V Alteration */
}
.callout.callout-danger h4 {
  color: #B94A48;
}
.callout.callout-warning h4 {
  color: #C09853;
}
.callout.callout-info h4 {
  color: #3A87AD;
}
/* 
    Component: alert
------------------------
*/
.alert {
  padding-left: 30px;
  margin-left: 15px;
  position: relative;
}
.alert > .fa,
.alert > .glyphicon {
  position: absolute;
  left: -15px;
  top: -15px;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
  background: inherit;
  border: inherit;
}

/* wesley */
.alert-no-icon {
  margin-left: 0px !important;
  padding-left:  15px !important;
}
/*
    Component: Navs
	NAV TABS */
.nav-tabs-custom {
  margin-bottom: 20px;
  background: #fff;
  /*box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);*/
}
.nav-tabs-custom > .nav-tabs {
  margin: 0;
  border-bottom-color: #f4f4f4;
}
.nav-tabs-custom > .nav-tabs > li {
  border-top: 3px solid transparent;
  margin-bottom: -2px;
  margin-right: 5px;
}
.nav-tabs-custom > .nav-tabs > li > a {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.nav-tabs-custom > .nav-tabs > li > a,
.nav-tabs-custom > .nav-tabs > li > a:hover {
  background: transparent;
  margin: 0;
}
.nav-tabs-custom > .nav-tabs > li:not(.active) > a:hover,
.nav-tabs-custom > .nav-tabs > li:not(.active) > a:focus,
.nav-tabs-custom > .nav-tabs > li:not(.active) > a:active {
  border-color: transparent;
}
.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #3c8dbc;
}
.nav-tabs-custom > .nav-tabs > li.active > a,
.nav-tabs-custom > .nav-tabs > li.active:hover > a {
  background-color: #fff;
}
.nav-tabs-custom > .nav-tabs > li.active > a {
  border-top: 0;
  border-left-color: #f4f4f4;
  border-right-color: #f4f4f4;
}
.nav-tabs-custom > .nav-tabs > li:first-of-type {
  margin-left: 0px;
}
.nav-tabs-custom > .nav-tabs > li:first-of-type.active > a {
  border-left-width: 0;
}
.nav-tabs-custom > .nav-tabs.pull-right {
  float: none!important;
}
.nav-tabs-custom > .nav-tabs.pull-right > li {
  float: right;
}
.nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type {
  margin-right: 0px;
}
.nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type.active > a {
  border-left-width: 1px;
  border-right-width: 0px;
}
.nav-tabs-custom > .nav-tabs > li.header {
  font-weight: 400;
  line-height: 35px;
  padding: 0 10px;
  font-size: 20px;
  color: #444;
  cursor: default;
}
.nav-tabs-custom > .nav-tabs > li.header > .fa,
.nav-tabs-custom > .nav-tabs > li.header > .glyphicon,
.nav-tabs-custom > .nav-tabs > li.header > .ion {
  margin-right: 10px;
}
.nav-tabs-custom > .tab-content {
  background: #fff;
  padding: 10px;
}
/* PAGINATION */
.pagination > li > a {
  background: #fafafa;
  color: #666;
  /*-webkit-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09);
  box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.09);*/
}
.pagination > li:first-of-type a,
.pagination > li:last-of-type a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
/*
    Page: locked screen
*/
/* ADD THIS CLASS TO THE <HTML> TAG */
.lockscreen {
  background-color: #002e43; /*WESLEY */
  background: url("../img/client_background.png") repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height:  750px !important;
}
/* Remove the background from the body element */
.lockscreen > body {
  background: transparent;
  min-height: 100% !important;
  overflow: hidden !important;
}
/* We will put the dynamically generated digital clock here */
.lockscreen .headline {
  color: #fff;
  text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
  font-weight: 300;
  -webkit-font-smoothing: antialiased !important;
  opacity: 0.8;
  margin: 10px 0 30px 0;
  font-size: 90px;
}
@media screen and (max-width: 480px) {
  .lockscreen .headline {
    font-size: 60px;
    margin-bottom: 40px;
  }
}
/* User name [optional] */
.lockscreen .lockscreen-name {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
}
/* Will contain the image and the sign in form */
.lockscreen-item {
  padding: 0;
  background: #fff;
  position: relative;
  margin: 10px auto;
  width: 400px;
}
.lockscreen-item:before,
.lockscreen-item:after {
  display: table;
  content: " ";
}
.lockscreen-item:after {
  clear: both;
}
/* User image */
.lockscreen-item > .lockscreen-image {
  position: absolute;
  left: -10px;
  top: -30px;
  background: #fff;
  padding: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  z-index: 10;
}
.lockscreen-item > .lockscreen-image > img {
  width: 70px;
  height: 70px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
/* Contains the password input and the login button */

.lockscreen-item > .lockscreen-credentials input {
  /*border: 0 !important;*/
}
.lockscreen-item > .lockscreen-credentials .btn {
  background-color: #fff;
  border: 0;
}
/* Extra to give the user an option to navigate the website [optional]*/
#registration_link {
  color: #000;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
}
#registration_link a {
  color: rgba(0,0,0,0.5);
}
#registration_link a:hover {
  color: rgba(0,0,0,1.0);
  text-decoration: none;
}
/* 
    skin-blue 
    ---------
*/
/* skin-blue navbar */
.navbar .nav a {
  color: #fff;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:active,
.navbar .nav > li > a:focus,
.navbar .nav .open > a,
.navbar .nav .open > a:hover,
.navbar .nav .open > a:focus {
  background: #307095;
  color: #f6f6f6;
}
.navbar .navbar-right > .nav {
  /*margin-right: 10px;*/ /* Mr. V */
  font-size: 15px; /* Mr. V Addition */
}
.navbar .sidebar-toggle .icon-bar {
  background: #acd0e5;
}
/* Skin-blue user panel */
.user-panel > .image > img {
  border: 1px solid #dfdfdf;
}
.user-panel > .info a { /*opacity:0.9*/ }/* Mr. V Addition */
.user-panel > .info a:hover { text-decoration: underline; }/* Mr. V Addition */
.left-side .sidebar > .sidebar-menu { margin-top: 10px; background-color:#fff}/* Mr. V Addition */

/* skin-blue sidebar */
.sidebar-default {
  border-bottom: 1px solid #fff;
}
								
.sidebar-default > .sidebar-menu > li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #dbdbdb;
}
.sidebar-default > .sidebar-menu > li:first-of-type {
  border-top: 1px solid #dbdbdb;
}
.sidebar-default > .sidebar-menu > li:first-of-type > a {
  border-top: 1px solid #fff;
}
.sidebar > .sidebar-menu > li > a {
  margin-right: 1px;
}
.sidebar > .sidebar-menu > li > a:hover,
.sidebar > .sidebar-menu > li.active > a {
  color: #222;
  /*background: #f9f9f9;*/
}
.sidebar > .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  /* background: #f9f9f9; Mr. V Removal */
}
.left-side {
  /*background: #fff;*/ /* Mr. V */
  /*border-right: 1px solid #eee;*/ /* Mr. V Change */
}
.sidebar a {
  /*color: #a5a5a5;*/
}
.sidebar a:hover {
  text-decoration: none;
}
.treeview-menu > li > a {
  color: #777;
}
.treeview-menu > li.active > a,
.treeview-menu > li > a:hover {
  color: #111;
}
 .sidebar-form {
  margin: 10px 10px;
}
.sidebar-form input[type="text"],
 .sidebar-form .btn {
  box-shadow: none;
  background-color: #fafafa;
  border: 1px solid #fafafa;
  height: 34px;
}
.sidebar-form input[type="text"] {
  color: #ccc;
}
.sidebar-form input[type="text"]:focus,
.sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  /*background-color: #fff;*/
  color: #666;
}
.sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.sidebar-form .btn {
  color: #999;
}

/*http://sugoi-admin.herokuapp.com/index.html
http://wrapbootstrap.com/preview/WB0907F35 */
/* 
    skin-blue 
    ---------
*/
/* skin-blue navbar */
.skin-black .navbar {
    background-color: #2b2c31;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2c31), color-stop(100%, #383c45));
    background-image: -webkit-linear-gradient(bottom, #2b2c31, #383c45);
    background-image: linear-gradient(to top, #2b2c31, #383c45)
}


.skin-black .content {
	background:#e8ecef;
}

.skin-black .navbar .nav a {
  color: #99a1a6;
}
.skin-black .navbar .nav > li > a:hover,
.skin-black .navbar .nav > li > a:active,
.skin-black .navbar .nav > li > a:focus,
.skin-black .navbar .nav .open > a,
.skin-black .navbar .nav .open > a:hover,
.skin-black .navbar .nav .open > a:focus {
    background: transparent;
    color: #2cc0d5
}
.skin-blue .navbar .navbar-right > .nav {
  margin-right: 10px;
}
.skin-blue .navbar .sidebar-toggle .icon-bar {
  background: #acd0e5;
}
/* skin-blue logo */
.skin-black .logo {
    background-color: #2b2c31;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2c31), color-stop(100%, #383c45));
    background-image: -webkit-linear-gradient(bottom, #2b2c31, #383c45);
    background-image: linear-gradient(to top, #2b2c31, #383c45)
}
.skin-blue .logo > a {
  color: #f9f9f9;
}
.skin-blue .logo:hover {
  background: #357ca5;
}
.skin-black .user-panel {
	background-color: #2b2c31;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2c31),color-stop(100%, #383c45));
background-image: -webkit-linear-gradient(bottom, #2b2c31,#383c45);
background-image: linear-gradient(to top,#2b2c31,#383c45);
border-bottom:2px solid #24272e;
color:#99a1a6;
}
/* Skin-blue user panel */
.skin-blue .user-panel > .image > img {
  border: 1px solid #dfdfdf;
}
.skin-blue .user-panel > .info,
.skin-blue .user-panel > .info > a {
  color: white;
}
/* skin-blue sidebar */
.skin-blue .sidebar {
  border-bottom: 1px solid #fff;
}
.skin-blue .sidebar > .sidebar-menu > li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #dbdbdb;
}
.skin-blue .sidebar > .sidebar-menu > li:first-of-type {
  border-top: 1px solid #dbdbdb;
}
.skin-blue .sidebar > .sidebar-menu > li:first-of-type > a {
  border-top: 1px solid #fff;
}
.skin-black .sidebar > .sidebar-menu > li > a {
  margin-right: 1px;
  color: #7a7c82;
  text-transform: uppercase;
  -webkit-transition: background 0.4s,color 0.4s;
  -moz-transition: background 0.4s,color 0.4s;
  transition: background 0.4s,color 0.4s;
}




.skin-black .sidebar > .sidebar-menu > li > a:hover,
.skin-black .sidebar > .sidebar-menu > li.active > a {
background: #373a42;
color: #e0e0e2;
}
.skin-blue .sidebar > .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #f9f9f9;
}
.skin-black .left-side {
background:#33363f
}
.skin-blue .sidebar a {
  color: #555555;
}
.skin-blue .sidebar a:hover {
  text-decoration: none;
}
.skin-blue .treeview-menu > li > a {
  color: #777;
}
.skin-blue .treeview-menu > li.active > a,
.skin-blue .treeview-menu > li > a:hover {
  color: #111;
}
.skin-blue .sidebar .sidebar-form {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #dbdbdb;
  margin: 10px 10px;
}
.skin-blue .sidebar .sidebar-form input[type="text"],
.skin-blue .sidebar .sidebar-form .btn {
  box-shadow: none;
  background-color: #002E43;
  border: 0px solid #002E43;
  height: 35px;
}
.skin-blue .sidebar .sidebar-form input[type="text"] {
  color: #666;
  -webkit-border-top-left-radius: 2px !important;
  -webkit-border-top-right-radius: 0 !important;
  -webkit-border-bottom-right-radius: 0 !important;
  -webkit-border-bottom-left-radius: 2px !important;
  -moz-border-radius-topleft: 2px !important;
  -moz-border-radius-topright: 0 !important;
  -moz-border-radius-bottomright: 0 !important;
  -moz-border-radius-bottomleft: 2px !important;
  border-top-left-radius: 2px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 2px !important;
}
.skin-blue .sidebar .sidebar-form input[type="text"]:focus,
.skin-blue .sidebar .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-blue .sidebar .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-blue .sidebar .sidebar-form .btn {
  color: #999;
  -webkit-border-top-left-radius: 0 !important;
  -webkit-border-top-right-radius: 2px !important;
  -webkit-border-bottom-right-radius: 2px !important;
  -webkit-border-bottom-left-radius: 0 !important;
  -moz-border-radius-topleft: 0 !important;
  -moz-border-radius-topright: 2px !important;
  -moz-border-radius-bottomright: 2px !important;
  -moz-border-radius-bottomleft: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
  border-bottom-left-radius: 0 !important;
}







/* wesley */

.loading-spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -12px 0 0 -12px;
}

/* wesley */

@media screen and (min-width: 800px) {
  body .modal-dialog-wide {
    width: 700px;
    margin: 30px auto;
  }

  body.reed_solomon .modal-dialog-wide, .modal-dialog-wider {
    width: 800px;
  }
}

/*.bootstrap-growl-top-right {
	-webkit-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
	box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
	
}*/

body {
	color: #636363 !important;
}

.page {
	 display: none;
}

.lockscreen header, .lockscreen #page {
	display: none !important;
}

.list-group-item-heading {
	font-weight: bold;
	font-size: 14px;
}

a.list-group-item:hover {
	color: black;
}

.content-no-padding {
	
	padding: 0 !important;
	margin-top: 2px;
}



.chat {
    margin: 0 auto;
    padding: 0;
    font-weight: 200;
    font-size: 16px;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    color: #000;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    -webkit-box-sizing: border-box;
    box-sizing:border-box;
}
.chat strong {
    font-weight: 500;
}
.chat dt {
    margin-bottom: 1em;
    text-align: center;
    font-size: .6em;
    color: #999;
}
.chat dd + dt {
    margin-top: 1.5em;
}
.chat dd + dd {
    margin-top: .5em;
}
.chat dd:after {
    clear: both;
    content: " ";
    display: block;
    height: .1em;
}

.chat p::before {
	-webkit-box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
	box-sizing: content-box !important;
	
}
.chat p {
	-webkit-font-smoothing:  subpixel-antialiased;
    float: left;
    z-index: 1;
    margin-right: 25%;
    padding: .45em .75em;
    background: #fff;
    line-height: 1.25;
    clear: both;
    color: #919191;
}
.chat .to p {
    float: right;
    margin-right: 0;
    margin-left: 25%;
    background: #fff;
    color: #919191;
    clear: both;
}

.chat p + p {
    margin-top: .1em;
}
.chat p:last-child {
    position: relative;
}
.chat p:last-child::before {
   /* position: absolute;
    bottom: 0;
    left: -3em;
    z-index: -1;
    width: 3em;
    height: 2em;
    border-right: 1.5em solid rgb(230,230,230);
    border-bottom-right-radius: 50%;
    content: " ";
    clip: rect(1em,4em,3em,2em);*/
    content: '';
	position: absolute;
	border-style: solid;
	border-width: 10px;
	border-color: #FFFFFF transparent transparent #FFFFFF;
	display: block;
	width: 0;
	z-index: 1;
	bottom: -20px;
	left: 1em;
}
.chat .to p:last-child::before {
    /*right: -3em;
    left: auto;
    border-right: none;
    border-left: 1.5em solid rgb(0,120,255);
    border-bottom-left-radius: 50%;
    clip: rect(1em,2em,2em,0);*/
    content: '';
	position: absolute;
	border-style: solid;
	border-width: 10px;
	border-color: #FFFFFF #FFFFFF transparent transparent;
	display: block;
	width: 0;
	z-index: 1;
	bottom: -20px;
	right: 1em;
    left: auto;
}


.chat .to.tentative p {
	font-style:italic !important;
	/*background-color:#DAE3F2 !important;*/
	color:#919191 !important;
}

.chat .to.tentative p:last-child:before {
	/*border-left: 1.5em solid #DAE3F2 !important;*/
}


.content-spliter{
	position: relative;
	width: 100%;
	height: 100%;
}
.content-spliter::after{
	content: '';
	display: block;
	clear: both;
}


/* Message page */
.content-splitter-inner {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.content-splitter-sidebar {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 40%;
}
		
.content-splitter-sidebar-inner {
	position: absolute;
	padding-bottom: 120px;
	top: 0px;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	background: white;
	/*border-right: 1px solid #ddd;*/
}

.content-splitter-sidebar .list-group {
	margin-bottom: 0 !important;
}

.content-splitter-sidebar .list-group .list-group-item {
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	border-bottom:1px solid #ddd !important;
	margin-bottom: 0 !important;
}

.content-splitter-sidebar .list-group-item:first-child {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.content-splitter-sidebar .list-group-item:last-child {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.content-splitter-right {
	position: absolute;
	top: 0;
	left: 200px;
	bottom: 0 !important;
	right: 0;
}
.content-splitter-right.empty:before{
	position: absolute;
	content: "No preview";
	font-size: 24px;
	font-weight: lighter;
	top: 50%;
	left: 50%;

	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.content-splitter-right-inner {
	position: absolute;
	top: 0px;
	bottom: 0;
	left: 0;
	right: 0;
	padding:20px;
	overflow: auto;
	overflow-x:hidden;
	background-color: #D4D5D6;
}

#messages_page .content-splitter-right-inner {
	bottom:285px; /* Mr. V Change */
	padding-bottom:0;
}
	
.content-splitter-right .box-solid {
	margin-bottom: 15px !important;
}
.box.box-assets {
	background-color: #FCFBEF !important;
}
.box-assets .box-header {
	padding-bottom: 0 !important;
}
.box-assets .box-body {
	padding-top: 0 !important;
}
.table.table-assets > tbody > tr >td {
	/* background-color: #FCFBEF !important; */
}
	
.table.table-assets td, .table.table-assets th {
	border-top: none !important;
	padding:5px;
}
	
#asset_exchange_bid_orders_table tr:hover td, #asset_exchange_ask_orders_table tr:hover td,
#asset_exchange_bid_orders_table tr:hover td a, #asset_exchange_ask_orders_table tr:hover td a {
	background-color: #919191 !important;
	color: white;
	cursor: pointer;
	cursor: hand;
}

.table-assets div.col-sm-8 {
	width: 165px !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

tr.your-order td {
	background-color: #008fbb !important;
	color: #fff !important;
}

tr.tentative td {
	font-style: italic !important;
	background-color: #008fbb !important
}

tr.tentative td a {
	/*pointer-events: none;*/
	cursor: pointer;
	color:#fff;
}
tr.tentative-allow-links td a {
	pointer-events:auto !important;
	cursor:pointer !important;
	/*color:#3c8dbc !important;*/
	color:#fff !important;
}
tr.tentative-crossed td {
    position: relative;
}

tr.tentative-crossed td:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid red;
    width: 100%;
}

tr.tentative-crossed td , tr.tentative-crossed td a {
	color:red !important;
}

.data-loading-container {
	height: 200px;
	text-align: center;
}

.data-loading-container img {
	margin-top: 84px;
}

.data-loading-container, .data-empty-container {
	display: none;
}

.data-container.data-loading .data-loading-container {
	display: block;
}

.data-container.data-empty .data-empty-container {
	display: block;
	padding: 20px;
}

.data-container.data-empty table, .data-container.data-loading table {
	display: none;
}

#buy_asset_box .box-header, #sell_asset_box .box-header, #buy_asset_box .box-title, #sell_asset_box .box-title {
	cursor: pointer;
}

@-webkit-keyframes opacity {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@-moz-keyframes opacity {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@-o-keyframes opacity {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes opacity {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.loading_dots {
    text-align: center; 
    margin: 100px 0 0 0;
}

.loading_dots span {
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: opacity;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    
    -o-animation-name: opacity;
    -o-animation-duration: 1s;
    -o-animation-iteration-count: infinite;
    
   	animation-name: opacity;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.loading_dots span:nth-child(1) {
    -webkit-animation-delay: 100ms;
    -moz-animation-delay: 100ms;
    -o-animation-delay: 100ms;
     animation-delay: 100ms;
}

.loading_dots span:nth-child(2) {
	-webkit-animation-delay: 300ms;
	-moz-animation-delay: 300ms;
	-o-animation-delay: 300ms;
	animation-delay: 300ms;
}

.loading_dots span:nth-child(3) {
	-webkit-animation-delay: 500ms;
	-moz-animation-delay: 500ms;
	-o-animation-delay: 500ms;
	 animation-delay: 500ms;
}

.rss_news.data-loading {
	height: 200px;
	text-align: center;
}

.rss_news.data-loading img {
	margin-top: 84px;
}


#message_text {
	height: 65%;
	outline: none;
	resize: none;
}

.form-group-last {
	margin-bottom: 0 !important;
}

.center_el {
     float: none !important;
     margin-left: auto !important;
     margin-right: auto !important;
}

.context_menu {
	display:none;
	position:absolute;
}

.list-group-item.context {
	background-color: #f5f5f5 !important;
}

.list-group-item.context p.list-group-item-text, .list-group-item.context h4 {
	color:black !important;
}

.unselectable {
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	user-select: none;
}

.rss_news .list-group {
	margin-bottom:0 !important;
}

a.list-group-item-header {
	background:#E6EEF4 !important;
	color:white !important;
	padding:0 !important;
	padding-left:15px !important;
	padding-right:15px !important;
	padding-top:5px !important;
	padding-bottom:5px !important;
}

a.list-group-item-header h4 {
	margin-bottom:0 !important;
}

a.list-group-item-header:hover {
	background:#E6EEF4 !important;
}

.testnet_only {
	display:none;
}

.label {
  font-size: 100%;
  font-weight: bold;
}

.scrollable-menu {
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
}

#nrs_update_drop_zone, #nrs_update_result {
    padding: 25px;
    text-align: center;
    font-weight:bold;
    font-size:30px;
    line-height:30px;
    background:#DFF0D9;
    color:#48874A;
    border:1px solid #D6E8C7;
    display:none;
}
#nrs_update_hash_progress {
    height:15px;
    background:#48874A;  
    display:none;
    margin-top:20px;
}

.nrs_message {
    background:#e6e6e8;
    color:#3c8dbc;
    padding:5px;
    border:1px solid #e6e6e8;
    display:none;
}
#nrs_update_explanation span {
	display:none;
}
.incorrect {
    background:#E2424F !important;
    color:white !important;
    border:1px solid #E4404B !important;
}
#nrs_update_explanation_1, #nrs_update_explanation_2, #nrs_update_explanation_3, #nrs_update_explanation_4 {
    display:none;
}
#nrs_update_hashes {
    display:none;
    margin-top:20px;
}
    
#nrs_update_hashes table {
    border-collapse:collapse;
    border:1px solid #bbb;
}

#nrs_update_hashes table td {
    padding:2px;
    margin-bottom:1px;
}

.left-side-single .sidebar > .sidebar-menu  >li > a {
	border-bottom:none !important;
}

.left-side-none .sidebar > .sidebar-menu > li > a {
	border-top:none !important;
	border-bottom:none !important;
}

.navbar-right > ul > li > a {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear
}
.navbar-right > ul > li > #logout_button {padding: 15px 13px 15px 12px;}
.navbar-right > ul > li > #logout_button, .navbar-right > ul > li > #help_button { opacity: 0.53 }
.navbar-right > ul > li > #logout_button:hover, .navbar-right > ul > li > #help_button:hover { opacity: 1.0 }

/*
.navbar.main .navbar-brand .colors>li.dropdown .dropdown-menu li a {
    padding: 3px 3px 3px 5px;
    font-size: 13px
}*/

.btn-group.colors .color {
    display: inline-block;
    margin-right: 5px;
    margin-top: 3px;
    vertical-align: text-top;
    width: 10px;
    height: 10px
}

.box { 
	overflow:hidden;
}

.navbar { border:none; }

#downloading_blockchain {
	position:fixed;
	bottom:0px;
	right:0px;
	color:white;
	background:#9da0a5;
	padding:6px 20px;
	display:none;
	width: 220px;
}

#show_console {
	position:fixed;
	bottom:0px;
	right:3px;
}

.lockscreen #downloading_blockchain {
	display:none !important;
}

label .popover-content {
	font-weight:normal;
}

#account_id:hover {
	cursor:pointer;
}
#account_id_dropdown ul.dropdown-menu>li>a {
	padding:3px 8px;
}
.dropdown-menu > li > a.zeroclipboard-is-hover {
  background-color: #3c8dbc;
  color: #f9f9f9;
}

#remember_password_container {
    color:#000;
	text-align:center;
}
#remember_password_container label {
	font-weight:normal;
}
.popover {
	z-index:9999999999;
}
#buy_automatic_price.nonzero, #sell_automatic_price.nonzero {
	cursor:pointer
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus, a.list-group-item.active .list-group-item-text {
	z-index:auto;
	color: #000 !important;
	background-color: #d4d5d6 !important;
}
.sidebar.dropdown-menu>li>a {
	color:#333 !important;
}
.left-side .user-panel .dropdown-menu>li>a { color:#333; }
.left-side .user-panel .dropdown-menu>li>a.zeroclipboard-is-hover, .left-side .user-panel .dropdown-menu>li>a:hover {
	color:#fff;
}

a.list-group-item h4 span {
	color:blue;
}

a.list-group-item.active h4 span {
	color:yellow;
}

.show_logout {
	display:none;
}

.data-pagination {
    text-align: center;
}

.advanced_info {
  float:left;
  color:#737373;
  font-style:italic;
  line-height:34px;
}

.advanced {
  display:none;
}

/* Mr. V's additions */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), url('../fonts/corporate/OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Segoe UI Light';
  font-style: normal;
  font-weight: 300;
  src: local('Segoe UI Light'), url('../fonts/corporate/segoe_ui_light.ttf') format('truetype');
}
.box-title, .small-box h3 { 
	font-family: 'Segoe UI Light','Open Sans',sans-serif; 
	text-transform: uppercase;
	width: calc(100% - 42px);
}
#dashboard_page .box .box-header .box-title{  
  font-size: 28px;
  text-transform: uppercase;
}
#dashboard_page .table > thead > tr > th:first-of-type { padding-left: 0 }
.navbar-static-top {
	z-index: auto !important;
}
#id_search {   
    background-color: #e6e6e8;
    float: right;
    z-index: 1000;
}
#id_search .input-group { opacity:0.53 }
#id_search .input-group:hover { /*opacity:1.0*/ }
#id_search .form-control::-webkit-input-placeholder { color:#333; }
#id_search .form-control:-moz-placeholder { color: #333; } /* Firefox 18- */
#id_search .form-control::-moz-placeholder {  color: #333; } /* Firefox 19+ */
#id_search .form-control:-ms-input-placeholder {  color: #333; }
.cost {
	color:#0088b7;
	font-weight:bold
}
.tentative .cost {color:#fff;}

.header a{
  color: #fff;
}
.header a:hover {
	text-decoration: none;
}
.header .form-control,
.header #search-btn {
        background-color: #002e43;
        border-color: #002e43;
        color: #fff;
		margin: 0 !important;
}
.side_icons {
        margin-right: 15px;
        width: 50px;
        height: 50px;
        display: inline-block;
}
.active > a > i:first-child {
	position: relative;
	background-color: #cb9900 !important;
}
.active > a > i:first-child:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(204, 153, 0, 0);
	border-left-color: #cc9900;
	border-width: 5px;
	margin-top: -5px;
}
.sidebar-menu > li > a > span {
  top: -18px;
  position: relative;
  font-size: 16px;
  left: 10px;
}

.row .small-box .icon .fa-briefcase { background: url(../img/corporate/header/balance.png) no-repeat right top; height: 125px; margin-top: 25px; width: 125px;}
@media screen and (max-width: 1650px) {
  .row .small-box .icon .fa-briefcase { background: none no-repeat center top; top: 0; right: -10px;}
}
.row .icon .fa-briefcase:before { content: "";}
/*
.row .small-box .ion-hammer { background: url("../img/corporate/header/hammer.png") no-repeat; width: 57px; height: 68px; right: 10px; background-size: 57px 68px; }
.row .ion-hammer:before { content: "" ;}

.row .fa-envelope-o:before { content: "" ;}

.row .small-box .assets { background: url("../img/corporate/header/pie.png") no-repeat; width:65px; right: 10px; background-size: 65px; }
.row .ion-pie-graph:before { content: "" ;}

.row .small-box .nrsVersion { background: url("../img/corporate/header/version.png") no-repeat; width: 66px; right: 10px; background-size: 66px 57px; }
.row .fa-code:before { content: "" ;}

.aOwned {  }
.eAliases {  }
.aUri {  }
.aAccountID {  }

.pUpload { background: url(../img/corporate/header/upload.png) no-repeat; background-size: auto 60px; width: 55px; right: 10px; }
.pDownload { background: url(../img/corporate/header/download.png) no-repeat; background-size: auto 60px; width: 55px; right: 10px; }
.cPeers { background: url(../img/corporate/header/cloud.png) no-repeat; background-size: auto 60px; width: 95px; right: 10px; }
.updatedPeers { background: url(../img/corporate/header/pie.png) no-repeat; background-size: auto 60px; width: 60px; right: 10px; }

.amountBlk { background: url(../img/corporate/header/amount.png) no-repeat; background-size: auto 60px; width: 60px; right: 10px; }
.feeBlk { background: url(../img/corporate/header/block-fee.png) no-repeat; background-size: auto 60px; width: 60px; right: 10px; }
.txHour { background: url(../img/corporate/header/transactions.png) no-repeat; background-size: auto 60px; width: 63px; right: 10px; }
.blkTime { background: url(../img/corporate/header/stopwatch.png) no-repeat; background-size: auto 60px; width: 56px; right: 10px; }
*/
.sidebar-menu a[data-page~='dashboard'] i { background: #002e43 url(../img/corporate/nav/dashboard.svg) no-repeat center center; background-size: 18px; height: 50px; width: 50px;}
.sidebar-menu a[data-page~='dashboard'] i:before {content: "";}

.sidebar-menu a[data-page~='supernet'] i { background: #003147 url(../img/supernet/supernet-mini.png) no-repeat center center; background-size: 18px; height: 50px; width: 50px;}
.sidebar-menu a[data-page~='supernet'] i:before {content: "";}

.sidebar-menu a[data-page~='transactions'] i { background: #00344b url(../img/corporate/nav/paperplane.svg) no-repeat center center; background-size: 20px; height: 50px; width: 50px;}
.sidebar-menu a[data-page~='transactions'] i:before {content: "";}

.sidebar-menu #sidebar_asset_exchange > a[data-page~='asset_exchange'] i:first-child { background: #003b55 url(../img/corporate/nav/ae.svg) no-repeat center center; background-size: 16px; height: 50px; width: 50px;}
.sidebar-menu #sidebar_asset_exchange > a[data-page~='asset_exchange'] i:first-child:before {content: "";}
.sidebar-menu #sidebar_asset_exchange > a[data-page~='asset_exchange'] .pull-right {margin:15px 10px 0 0}

.sidebar-menu #sidebar_dgs_buyer > a[data-page~='dgs_search'] i:first-child { background: #003b55 url(../img/corporate/nav/market.svg) no-repeat center center; background-size: 22px; height: 50px; width: 50px;}
.sidebar-menu #sidebar_dgs_buyer > a[data-page~='dgs_search'] i:first-child:before {content: "";}
.sidebar-menu #sidebar_dgs_buyer > a[data-page~='dgs_search'] .pull-right {margin:15px 10px 0 0}

.sidebar-menu #sidebar_dgs_seller > a[data-page~='my_dgs_listings'] i:first-child { background: #003b55 url(../img/corporate/nav/market.svg) no-repeat center center; background-size: 22px; height: 50px; width: 50px;}
.sidebar-menu #sidebar_dgs_seller > a[data-page~='my_dgs_listings'] i:first-child:before {content: "";}
.sidebar-menu #sidebar_dgs_seller > a[data-page~='my_dgs_listings'] .pull-right {margin:15px 10px 0 0}

.sidebar-menu #sidebar_monetary_system > a[data-page~='monetary_system'] i:first-child { background: #003b55 url(../img/corporate/nav/market.svg) no-repeat center center; background-size: 22px; height: 50px; width: 50px;}
.sidebar-menu #sidebar_monetary_system > a[data-page~='monetary_system'] i:first-child:before {content: "";}
.sidebar-menu #sidebar_monetary_system > a[data-page~='monetary_system'] .pull-right {margin:15px 10px 0 0}

.sidebar-menu .treeview > a[data-page~='freemarket'] i:first-child { background: #003b55 url(../img/corporate/nav/market.svg) no-repeat center center; background-size: 22px; height: 50px; width: 50px;}
.sidebar-menu .treeview > a[data-page~='freemarket'] i:first-child:before {content: "";}
.sidebar-menu .treeview > a[data-page~='freemarket'] .pull-right {margin:15px 10px 0 0}

.sidebar-menu a[data-page~='contacts'] i { background: #0b4962 url(../img/corporate/nav/user.png) no-repeat center center; background-size: 20px; height: 50px; width: 50px;}
.sidebar-menu a[data-page~='contacts'] i:before {content: "";}

.sidebar-menu a[data-page~='messages'] i { background: #0f5370 url(../img/corporate/nav/chatbox.svg) no-repeat center center; background-size: 20px; height: 50px; width: 50px;}
.sidebar-menu a[data-page~='messages'] i:before {content: "";}

.sidebar-menu a[data-page~='aliases'] i { background: #136081 url(../img/corporate/nav/aliases.svg) no-repeat center center; background-size: 15px; height: 50px; width: 50px;}
.sidebar-menu a[data-page~='aliases'] i:before {content: "";}

.sidebar-menu .polls { background-color: #002e43; }
.sidebar-menu a[data-page~='blocks'] i { background: #196c92 url(../img/corporate/nav/blocks.png) no-repeat center center; background-size: 15px; height: 50px; width: 50px;}
.sidebar-menu a[data-page~='blocks'] i:before {content: "";}

.sidebar-menu a[data-page~='peers'] i { background: #1f7ba6 url(../img/corporate/nav/cloud.png) no-repeat center center; height: 50px; width: 50px;}
.sidebar-menu a[data-page~='peers'] i:before {content: "";}

.sidebar-menu a[data-page~='news'] i { background: #2385b4 url(../img/corporate/nav/clock.png) no-repeat center center; height: 50px; width: 50px;}
.sidebar-menu a[data-page~='news'] i:before {content: "";}

.header #logo { 
	background: url(../img/corporate/footerIcon.png) no-repeat center center;
	z-index: 1500;
	display: block;
	height: 50px;
	width: 200px;
	position: absolute;	
}
.header #logo img{ display: none; }
.right-side > .page > .content-header {
	position: relative;
	padding: 0 5px;
}
.right-side > .page > .content > .row .col-lg-3 .small-box{ 
	background: url("../img/corporate/header.png") repeat fixed left top rgba(0, 0, 0, 0);
	margin: 0 0 10px;
	/*box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);*/
}
.right-side > .page > .content > .row {
    margin: 0 !important;
    background-color: #fff;
    /*left: 0;
    padding-top: 75px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 900;
    -webkit-transition: height 0.8s;
	transition: height 0.8s;
	height: 215px;*/
}
.right-side > .page > .content > .row > h1{
	font-size: 32px;
    margin: 0;
    color: #fff;
    position: fixed;
    top: 45px;
    font-family: 'Segoe UI Light','Open Sans',sans-serif;
    text-align: left;
    z-index: 1000;
    width:450px;
    padding: 0 0 0 5px;
}
.right-side > .page > .content > .row > h1 div{ padding-left:10px }
.data-container .label-success{
	background-color: #0088B7;
	border: 0;
	border-radius: 0;
}
.data-container .label-danger{
	background-color: #919191;
	border: 0;
	border-radius: 0;
}
.nav-pills > li > a { border-radius: 0px; padding:10px; }
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus { background-color: #0088B7;	}
.small-box a {
  color: rgba(255,255,255,1.0);
  opacity: 0.7;
}
.small-box a { 
	color: rgba(255,255,255,0.7);
	opacity: 1.0; 
}
.small-box a .icon { opacity: 0.7 }
.small-box a .inner { color: rgba(255,255,255,1.0); }
.small-box a:hover,.small-box #accountDetails:hover, .small-box a:hover .icon {
  color: rgba(255, 255, 255, 1.0);
  opacity: 1.0;
  text-decoration: none;
}
.content .row .small-box {
  padding: 10px;
  border-right: 1px solid rgba(0,0,0,0.2);
}
.content .row div:last-child .small-box { border-right: 0px solid rgba(0,0,0,0.2); }
.closeBtn{ 
	background: #eed96d url("../img/corporate/close.png");
	display: block;
    float: right;
    width: 105px;
}
.closeBtn:hover {background:#e9cd3f url("../img/corporate/closeDown.png")}
.viewAll{ 
	/*background: #eed96d url("../img/corporate/nav/blocks2.png") no-repeat scroll 13px 10px / 20px auto;*/
	background: #eed96d url("../img/corporate/all.png");
	display: block;
    height: 39px;
    padding-left: 47px;
    width: 140px;
}
.viewAll:hover {background:#e9cd3f url("../img/corporate/allDown.png")}
.viewAll .btn-primary{ 
	width:96px; 
	height: 39px;
	font-family: 'Segoe UI Light','Open Sans',sans-serif;
	font-size: 18px;
}
.modal-dialog .modal-content {
	border-radius: 0px;
	box-shadow: none;
}
.modal-backdrop {
	background-color: #003c5a;
}
.modal-backdrop.in {
    opacity: 0.9;
}
.modal-body .nav li{ background-color:#cb9900; }
.modal-body .nav .active a {cursor: default }
.modal-body .nav li:not(.active) a{ 
	color: #FFF; 
	transition: background-color 500ms ease 0s;
}
.modal-body .nav li:not(.active) a:hover{ background-color: #997300; }

#login_error  {
  text-align:left;
  margin-bottom:10px;
  margin: 0 auto;
}

/* AE Page */
#asset_details {
	padding: 20px;
	background-color: #FFF;
}
#asset_details #asset_name {
	text-transform: uppercase;
	color: #404040;
	font-size: 39px;
}
#asset_exchange_page .content-splitter-right-inner {
	padding: 0;
}
#asset_exchange_page .row .box-title, #asset_exchange_page .box-primary .box-header .box-title { font-size: 20px; }
#asset_exchange_page .box-primary .box-header .box-title {padding-left: 20px; }
#buy_asset_box { margin: 20px 10px 20px 0; }
#sell_asset_box { margin: 20px 0 20px 10px; }
#buy_asset_box, #sell_asset_box {
	display: inline-block;
	/*width: 48%; /* Mr. V - For older browsers */
    /*width: calc(50% - 15px);*/
    vertical-align: top;
}
.alert-danger, .alert-success, .callout-danger{
	background-color: #e6e6e8 !important;
    border-color: #e6e6e8 !important;
    border-radius: 0;
    color: #636363;
}
#asset_details .row { margin: 0 -20px !important; }
#asset_details .row, #asset_details .box-primary {
	background-color: #FFF;
	padding-top: 10px;
}

#account_details_modal .nav a {
	font-size: 18px;
}
#id_search .btn {
	font-size: 14px;
}
#nrs_update_explanation .btn.btn-success {
	border-color: #CB9900;
	background-color: #CB9900;
}
#nxtFooter {
	bottom: 15px;
    left: 15px;
    position: fixed;
    font-size: 15px;
    z-index: -1;
}
.page .table > tbody > tr { color: #919191; }
.page .table > tbody > .tentative { color: #fff; }
.page .table > tbody > .tentative .minus { color: #fff; }
.page .table > tbody .minus { color: #0088b7; }
.page .table > thead > tr > th { font-size: 15px; font-weight: normal !important; color: #404040; }
#dashboard_page .box .box-header .box-title { padding: 20px 0 10px; }
#login_panel input[type="checkbox"] {
    display:none;
}
#login_panel #remember_password_container label{ opacity: 0.53; }
#login_panel #remember_password_container label:hover { opacity: 1.0; }
#login_panel input[type="checkbox"] + span {
    display:inline-block;
	height: 6px;
    margin: -2px 10px 0 0;
    width: 6px;
    vertical-align:middle;
    background:rgba(255,255,255,1.0);
    cursor:pointer;
}
#login_panel input[type="checkbox"] + label { color:rgba(255,255,255,1.0); cursor:pointer; }
#login_panel input[type="checkbox"]:checked + span {
    background:#cc9900;
}
#messages_page .content { background-color: #919191; }
#messages_page .row { margin: 0 !important; }
#messages_page .col-xs-10, #messages_page .col-md-2{ padding: 0 !important; }
#messages_page #no_messages_available a, #messages_page #no_message_selected a {color: #fff; font-weight: bold; }
#inline_message_submit {
	background: #eed96d url("../img/corporate/nav/paperplane.svg") no-repeat scroll 13px 10px / 20px auto;
    display: block;
    height: 39px;
    padding-left: 47px;
    float: right;
    width: 147px;
}
#inline_message_submit:hover {background-color:#e9cd3f !important}
#inline_message_submit {
    font-family: 'Segoe UI Light','Open Sans',sans-serif;
    font-size: 18px;
    height: 39px;
    width: 100px;
}
.user {
	background-image: url("../img/corporate/user.png");
	display: block;
    height: 34px;
    width: 36px;
}
#nrs_update { font-size: 10px }

/* Override bootstrap.css */
.modal-body { padding: 15px !important; }
.form-control { height: 34px; padding: 6px 0px 6px 15px !important; }
.label { padding: .2em .4em .3em !important; border-radius: 0 !important; }
.table > tbody > tr > td, .table > thead > tr > th { border: 0 !important; }
body { font-size: 15px }
.form-control { font-size: 15px !important }
.popover {border-radius: 0; background-color:#919191; color: #fff}
.popover.top .arrow:after{border-top-color:#919191;}
.popover.right .arrow:after{border-right-color:#919191;}
.popover.bottom .arrow:after{border-bottom-color:#919191;}
.popover.left .arrow:after{border-left-color:#919191;}
.btn {padding: 7px 12px;}
.dropdown-menu { border-radius: 0px; }


/* Settings Page */
#settings_page .content { background-color: #fff; }
#settings_page .box { 
	background-color: #e6e6e8; 
	margin-bottom: 10px;
	padding: 15px 0 0 15px;
}
#settings_page .box-header .box-title{ font-size: 28px; }
#settings_page select {
	-webkit-appearance: none;  /* Removes default chrome and safari style */
	-moz-appearance: none;  /* Removes default style Firefox */
	background: url('../img/corporate/dropdownFaded.png') no-repeat;
	background-image: -moz-linear-gradient(top right, #fff, #fff);
	background-position: 125px 10px;
	width: 150px;
	text-indent: 0.01px;
	border: 0;
	background-color: #fff;
}
#settings_page select:hover {
	background: url('../img/corporate/dropdown.png') no-repeat;
	background-image: -moz-linear-gradient(top right, #fff, #fff);
	background-position: 125px 10px;
	background-color: #fff;
	cursor: pointer;
	color: #000;
}
#settings_page label { 
	font-weight: normal; 
	color: #636363; 
	margin-bottom: 10px;
}
#settings_page .help-block { 
	color: #919191; 
	margin-top: 10px; 
}
#settings_page .input-group-addon, #settings_page .form-control { border: 0 }

/* News page */
#rss_news_container .box-header img {
	left: 10px;
    position: absolute;
    top: 0;
}
#rss_news_container .box-header .box-title {
	text-align: right;
	font-size: 28px;
	text-transform: uppercase;
	width: 100%;
	height: 71px;
	padding: 20px 10px 10px 10px;
}
#rss_news_container .list-group .list-group-item{ 
	background-color: #f7f8f8;
	border: 0;
}
#rss_news_container .title-link .box-header{ color:rgba(64,64,64,0.53); }
#rss_news_container .title-link .box-header:hover { color:rgba(64,64,64,1.0); }
#rss_news_container { margin-top:30px;}
#rss_news_container .list-group { height: 390px; }
#rss_news_container .list-group .list-group-item:nth-child(odd), #asset_exchange_sidebar_content .list-group-item:nth-child(odd) { background-color: #e6e6e8; }
#rss_news_container .list-group-item:first-child { border-radius: 0; }
#rss_news_container .list-group-item:last-child { border-radius: 0; }
#rss_news_container .box .box-body { padding: 0 10px 10px; }

#rss_news_container .nxtForum {background: url("../img/corporate/news/nxtForumFaded.png") no-repeat 10px top;display: block;height: 81px;}
#rss_news_container .nxtForum:hover {background: url("../img/corporate/news/nxtForum.png") no-repeat 10px top;}
#rss_news_container .nxtOrg {background: url("../img/corporate/news/nxtOrgFaded.png") no-repeat 10px top;display: block;height: 81px;}
#rss_news_container .nxtOrg:hover {background: url("../img/corporate/news/nxtOrg.png") no-repeat 10px top;}
#rss_news_container .nxter {background: url("../img/corporate/news/nxterFaded.png") no-repeat 10px top;display: block;height: 81px;}
#rss_news_container .nxter:hover {background: url("../img/corporate/news/nxter.png") no-repeat 10px top;}
#rss_news_container .reddit {background: url("../img/corporate/news/redditFaded.png") no-repeat 10px top;display: block;height: 81px;}
#rss_news_container .reddit:hover {background: url("../img/corporate/news/reddit.png") no-repeat 10px top;}

/* MrV resolution fixes*/
@media screen and (max-width: 1510px) {
  body {
    font-size: 15px;
  }
}
@media screen and (max-width: 1450px) {
  body {
    font-size: 14px;
  }
}
@media screen and (max-width: 1350px) {
  body {
    font-size: 13px;
  }
}
@media screen and (max-width: 1250px) {
  body {
    font-size: 12px;
  }
}

@media screen and (max-width: 1300px) {
  .small-box p {
    font-size: 14px;
  }
  .small-box h3 { font-size: 48px; }
}
@media screen and (max-width: 1200px) {
  .small-box p {
    font-size: 13px;
  }
}
@media screen and (max-width: 1170px) {
  .small-box p {
    font-size: 12px;
  }
  .small-box h3 { font-size: 44px; }
  .right-side > .page > .content > .row { width: 970px; }
  body > .header .navbar { width: 1170px; }
}
@media screen and (max-width: 480px) {
  .small-box {
    text-align: center;
  }
  .small-box .icon {
    display: none;
  }
  .small-box p {
    font-size: 11px;
  }
}
/* End fixes */


/* New loading icon */
.loading_indicator_container {
	height:51px;
	width:51px; 
	/*background-color:#cc9900;*/
	margin: 50px auto auto ;
    padding-top: 1px;
}
#peers_page .loading_indicator_container, #blocks_page .loading_indicator_container, #aliases_page .loading_indicator_container { margin: 150px auto auto ; }
#circularG{
position:relative;
width:30px;
height:30px;
margin: 10px 0 0 10px;
}

.circularG{
position:absolute;
background-color:#cc9900;
width:7px;
height:7px;
-moz-border-radius:5px;
-moz-animation-name:bounce_circularG;
-moz-animation-duration:1.04s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:5px;
-webkit-animation-name:bounce_circularG;
-webkit-animation-duration:1.04s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:5px;
-ms-animation-name:bounce_circularG;
-ms-animation-duration:1.04s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:5px;
-o-animation-name:bounce_circularG;
-o-animation-duration:1.04s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:5px;
animation-name:bounce_circularG;
animation-duration:1.04s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#circularG_1{
left:0;
top:12px;
-moz-animation-delay:1.3s;
-webkit-animation-delay:1.3s;
-ms-animation-delay:1.3s;
-o-animation-delay:1.3s;
animation-delay:1.3s;
}

#circularG_2{
left:3px;
top:3px;
-moz-animation-delay:1.17s;
-webkit-animation-delay:1.17s;
-ms-animation-delay:1.17s;
-o-animation-delay:1.17s;
animation-delay:1.17s;
}

#circularG_3{
top:0;
left:12px;
-moz-animation-delay:1.04s;
-webkit-animation-delay:1.04s;
-ms-animation-delay:1.04s;
-o-animation-delay:1.04s;
animation-delay:1.04s;
}

#circularG_4{
right:3px;
top:3px;
-moz-animation-delay:0.91s;
-webkit-animation-delay:0.91s;
-ms-animation-delay:0.91s;
-o-animation-delay:0.91s;
animation-delay:0.91s;
}

#circularG_5{
right:0;
top:12px;
-moz-animation-delay:0.78s;
-webkit-animation-delay:0.78s;
-ms-animation-delay:0.78s;
-o-animation-delay:0.78s;
animation-delay:0.78s;
}

#circularG_6{
right:3px;
bottom:3px;
-moz-animation-delay:0.65s;
-webkit-animation-delay:0.65s;
-ms-animation-delay:0.65s;
-o-animation-delay:0.65s;
animation-delay:0.65s;
}

#circularG_7{
left:12px;
bottom:0;
-moz-animation-delay:0.52s;
-webkit-animation-delay:0.52s;
-ms-animation-delay:0.52s;
-o-animation-delay:0.52s;
animation-delay:0.52s;
}

#circularG_8{
left:3px;
bottom:3px;
-moz-animation-delay:0.39s;
-webkit-animation-delay:0.39s;
-ms-animation-delay:0.39s;
-o-animation-delay:0.39s;
animation-delay:0.39s;
}

@-moz-keyframes bounce_circularG{
0%{
-moz-transform:scale(1)}

100%{
-moz-transform:scale(.3)}

}

@-webkit-keyframes bounce_circularG{
0%{
-webkit-transform:scale(1)}

100%{
-webkit-transform:scale(.3)}

}

@-ms-keyframes bounce_circularG{
0%{
-ms-transform:scale(1)}

100%{
-ms-transform:scale(.3)}

}

@-o-keyframes bounce_circularG{
0%{
-o-transform:scale(1)}

100%{
-o-transform:scale(.3)}

}

@keyframes bounce_circularG{
0%{
transform:scale(1)}

100%{
transform:scale(.3)}

}


/* End of additions */

#buy_asset_box .box-header{
  background-color: #cc9900;
  color: #fff;
}
#asset_info {
  float: right;
  color: #e6e6e8;
  background: #919191;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0px;
}
#asset_info a {
  color: #fff;
}

table.settings td {
	padding-bottom:5px;
}

.malformed_address {
	font-weight:bold;
	cursor:pointer;
}

.decryption_failed {
	background:red !important;
	color:white !important;
}

.decryption_failed::before {
	border-right: 1.5em solid red !important;
}

input:invalid {
  border: 1px solid red;
}

#forging_indicator i, #connected_indicator i {
  color:#a94442;
}

#forging_indicator.forging i, #connected_indicator.connected i {
  color:#3c763d;
}

#forging_indicator.forging.animated i {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes pulse {
  from { color: #749a02; text-shadow: 0 0 9px #266000; }
  50% { color: #91bd09; text-shadow: 0 0 18px #9bc92b; }
  to { color: #749a02; text-shadow: 0 0 9px #266000; }
}

@-webkit-keyframes pulse {
  from { color: #749a02; text-shadow: 0 0 9px #266000; }
  50% { color: #91bd09; text-shadow: 0 0 18px #9bc92b; }
  to { color: #749a02; text-shadow: 0 0 9px #266000; }
}

@keyframes pulse {
  from { color: #749a02; text-shadow: 0 0 9px #266000; }
  50% { color: #91bd09; text-shadow: 0 0 18px #9bc92b; }
  to { color: #749a02; text-shadow: 0 0 9px #266000;  }
}

#account_name {
  font-style:italic;
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
}

#asset_description {
  word-wrap: break-word;
}

hr {
  margin-top:10px;
  margin-bottom:10px;
}


#lockscreen {
  height:100%;
}

#center .panel {
  display:inline-block;
}

#center .panel-heading, #center .panel-body {
  text-align:left;
}

#testnet_login {
  display:inline-block;
  text-align:left;
  margin-bottom:5px;
}

#asset_exchange_sidebar_search {
  display:none;
  margin-top:10px;
  border-bottom:1px solid #ddd;
}

.owns_asset {
  background-color:#eed96d;
}

.asset_owner td {
  background-color:#eed96d !important;
}

#asset_exchange_sidebar_content .list-group-item {
  border-right:5px solid transparent !important;
  background-color: #f7f8f8;
}

#asset_exchange_sidebar_content .list-group-item.owns_asset.active, #asset_exchange_sidebar_content .list-group-item.owns_asset {
  border-right:5px solid #cc9900 !important;
}

#asset_exchange_sidebar_content .glyphicon {
  position:absolute;
  top:10px;
  right:5px;
  color:#000;
}

#asset_exchange_sidebar_content .group_icon {
  position:absolute;
  top:5px;
  right:5px;
  color:#000;
}

#asset_exchange_sidebar_content .list-group-item.active .glyphicon {
  color:#fff;
}

.input-group-btn .btn.focus {
    background-color: #fff;
    color: #666;
    border:none !important;
}

#asset_exchange_page.no_assets .content-splitter-sidebar { 
  display: none !important;
}
#asset_exchange_page.no_assets .content-splitter-right {
  left: 0 !important;
}

#sideBalance {
  display: block;
  margin-bottom: 5px;
}