<div id="supernet_page" class="page">
    <section class="content-header">
        <h1>SuperNET</h1><div style="position:absolute;top:9px;right:9px;">
            <a href="http://nxtinside.org" target="_blank"><img src="img/supernet/nxtinside.png" /></a>
        </div>
    </section>
    <section class="content" id="settings_box">
        <div class="alert-danger alert alert-no-icon" id="spn_message" style="display:none;padding:5px;padding-left:5px;margin-bottom:15px;"></div>
        <div class="row">
            <div class="col-sm-4 col-md-3">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Dashboard</h3>
                        <p style="min-height:100px">Provide an overview of your coin account and some basic functionality</p>
                        <p><a id="spn_dashboard" href="#" class="btn btn-primary goto-page disabled" role="button" data-page="spn_dashboard">Dashboard</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Multigateway</h3>
                        <p style="min-height:100px">Move BTC and other cryptocurrencies in and out of the Asset Exchange</p>
                        <p><a id="spn_multigateway" href="#" class="btn btn-primary goto-page disabled" role="button" data-page="multigateway">Multigateway</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Dividends+Voting</h3>
                        <p style="min-height:100px">Dividends, Voting, Alias Voting, Share Swap</p>
                        <p><a id="spn_dividends" href="#" class="btn btn-primary goto-page disabled" role="button" data-page="nsv_dividends">Dividends+Voting</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Coinomat</h3>
                        <p style="min-height:100px">Exchange your Bitcoin, Litecoin, Peercoin, Perfectmoney, Egopay, OKPAY instantly.  Withdraw your Bitcoin to Visa/Master cards.</p>
                        <p><a id="spn_coinomat" href="#" class="btn btn-primary goto-page disabled" role="button" data-page="spn_coinomat">Coinomat</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Coinimal</h3>
                        <p style="min-height:100px">Coinimal is your service partner for securely buying or selling Bitcoins and other Cryptocoins!</p>
                        <p><a id="spn_coinimal" href="#" class="btn btn-primary goto-page disabled" role="button" data-page="spn_coinimal">Coinimal</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div id="spn_dashboard_page" class="page">
    <section class="content-header">
        <h1>SuperNET - Dashboard</h1>
    </section>
    <section class="content" style="padding:20px 20px 0px 20px">
        <ol class="breadcrumb">
            <li><a href="#" class="goto-page" data-page="supernet">SuperNET</a></li>
            <li class="active">Dashboard</li>
        </ol>
        <div class="alert-danger alert alert-no-icon" id="spn_dashboard_message" style="display:none;padding:5px;padding-left:5px;margin-bottom:15px;"></div>
        <div class="row show-grid">
            <div class="col-sm-6 col-md-6 text-center">
                <button id="btn_spn_register_coin_alias_modal" type="button" class="btn btn-default btn-lg" style="min-width:300px" data-toggle="modal" data-target="#spn_register_coin_alias_modal">
                    <i class="fa fa-bookmark"></i> Register coin address as Nxt alias<br />
                    <h6 id="spn_register_coin_alias_message" style="padding:5px"></h6>
                </button>
            </div>
        </div>
    </section>
</div>